#apps {
	margin: 0 3%;
	padding: 5%;
	@include transition-ease;
	div {
		margin-bottom: 1rem;
		h2 {
			font-size: 1.5rem;
			margin-bottom: 10px;
			width: 80%;
		}
		img {
			aspect-ratio: 1/1;
			display: none;
			width: 100%;
		}
		p {
			font-size: 1rem;
			font-weight: 300;
			margin-bottom: 1rem;
		}
		button {
			background: white;
			border: 1px solid #458ff6;
			border-radius: 15px;
			color: #458ff6;
			cursor: pointer;
			font-size: 1rem;
			padding: 0.4rem 1.5rem;
			transition: all 0.15s;
			&:hover {
				background: #458ff6;
				color: #fff;
			}
		}
	}

	@include media-sm {
		.providers,
		.apps {
			align-items: center;
			display: flex;
			// justify-content: space-between;
			img {
				display: flex;
			}
			h2 {
				font-size: 18px;
			}
			p {
				width: 80%;
			}
		}
		.providers {
			&-right-section {
				margin-left: 100px;
			}
		}
		.apps {
			&-left-section {
				margin-right: 100px;
			}
		}
	}
}
