#home {
	height: 100vh;
	margin: 0 3%;
	padding-top: 70px;
	@include flex-list(column, 10px);

	& .home-left-section {
		text-align: left;

		&-heading {
			font-size: 1.8rem;
			margin-bottom: 10px;
			width: 70%;
		}
		&-paragraph {
			font-weight: 300;
			font-size: 1.1rem;
			line-height: 20px;
			margin-bottom: 10px;
			width: 90%;
		}
		&-btn {
			background-color: #458ff6;
			border: none;
			border-radius: 16px;
			color: #fff;
			cursor: pointer;
			font-size: 1rem;
			letter-spacing: 1px;
			margin-top: 20px;
			padding: 0.5rem 1.2rem;
			@include transition-ease;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	& .home-right-section {
		display: flex;
		justify-content: center;
		margin-top: 30%;
		img {
			width: 60%;
		}
	}
	@include media-sm {
		& {
			align-items: center;
			justify-content: space-around;
			margin-top: 0;
			@include flex-list(row, 20px);
			.home-left-section {
				width: 60%;
				&-paragraph {
					width: 100%;
				}
			}
			.home-right-section {
				margin-top: 0;
			}
		}
	}
	@include media-md-lg {
		& {
			.home-left-section {
				&-paragraph {
					width: 60%;
				}
			}
		}
	}
}
