#testimonials {
	background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
	border-radius: 10px;
	color: #fff;
	margin: 0 3%;
	text-align: center;
	padding-top: 2%;
	.line {
		background: #fff;
		display: flex;
		height: 2px;
		width: 50px;
		margin: 10px auto;
	}
	.testimonial {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5% 5%;

		&-left-section {
			align-items: center;
			display: flex;
			margin-bottom: 20px;
			div {
				h4 {
					font-size: 14px;
				}
				p {
					font-weight: 300;
					font-size: 12px;
				}
			}
		}
		img {
			border-radius: 100%;
			margin-right: 10px;
			outline: 5px solid white;
			width: 70px;
		}
		&-right-section {
			p {
				font-weight: 300;
				font-size: 14px;
				margin-bottom: 20px;
			}
		}
		@include media-sm {
			align-items: center;
			flex-direction: row;
			gap: 10%;
			margin: 10px auto;
			&-left-section {
				width: 80%;
				margin: auto;
				padding-left: 10%;
				div:nth-of-type(2) {
					text-align: left;
				}
			}
			&-right-section {
				margin: auto;
				p {
					margin: auto;
					width: 70%;
				}
			}
		}
	}
}

.articles {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	justify-content: center;
	padding-top: 20px;
	text-align: left;
	.article {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		max-width: 270px;
		min-width: 260px;
		height: 330px;
		max-height: 350px;
		padding: 5%;
		width: 80%;
		img {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			width: 100%;
		}
		h4 {
			font-size: 0.9rem;
			margin-bottom: 5px;
		}
		p {
			font-size: 0.8rem;
			font-weight: 300;
			margin-bottom: 5px;
		}
		a {
			color: #4089ed;
			font-size: 0.8rem;
			text-decoration: none;
		}
	}
	@include media-sm {
		gap: 20px;
		padding: 2%;
		.article {
			width: 33%;
		}
	}
}

.articles-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.view-all-btn {
	border: 1px solid #458ff6;
	border-radius: 15px;
	color: #458ff6;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 0.4rem 1.5rem;
	transition: all 0.15s;
	&:hover {
		background: #458ff6;
		color: #fff;
	}
}
