@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #f7f7f7;
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f7f7;
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: #f7f7f7;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  color: #272727;
  justify-content: space-between;
  left: 0;
  padding: 0.5rem 3%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1200;
  transition: all 0.5s ease-in-out;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav .expand-menu {
  display: none;
}
nav a {
  color: #1f1534;
  text-decoration: none;
}
nav .nav-left-section > .logo,
nav .text {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
nav .logo {
  background: #458ff6;
  border-radius: 100%;
  color: #fff;
  padding: 0.2rem 0.7rem;
}
nav .burger-list {
  background-color: rgb(236, 236, 236);
  height: 50vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  left: 0;
  position: absolute;
  padding: 0 1rem;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
nav .burger-list-item {
  color: #272727;
  cursor: pointer;
  font-size: 1rem;
  padding: 0 0.2rem;
  transition: all 0.5s ease-in-out;
}
nav .burger-list.open {
  transform: translateY(0);
}
nav .burger-icon {
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 35px;
  z-index: 2;
}
nav .burger-icon .burger {
  background: black;
  height: 2px;
  position: absolute;
  right: 0.3rem;
  top: 0.8rem;
  width: 25px;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
nav .burger-icon .burger::before {
  content: "";
  background: black;
  height: 2px;
  position: absolute;
  top: -6px;
  width: 25px;
}
nav .burger-icon .burger::after {
  content: "";
  background: black;
  height: 2px;
  position: absolute;
  top: 6px;
  width: 20px;
}
nav .burger-icon .burger.active {
  transform: rotate(720deg);
  width: 0;
}
nav .burger-icon .burger.active::before {
  transform: rotate(-50deg) translate(-20px, -15px);
  visibility: visible;
  left: 0.1rem;
}
nav .burger-icon .burger.active::after {
  right: -1.3rem;
  transform: rotate(50deg) translate(-17px, 10px);
  visibility: visible;
  width: 25px;
}
@media screen and (min-width: 568px) {
  nav {
    padding-top: 10px;
  }
  nav .burger-menu-wrapper {
    display: none;
  }
  nav .expand-menu {
    display: flex;
  }
  nav .expand-menu-list {
    display: flex;
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  nav .expand-menu-list-item a {
    color: #1f1534;
  }
}
@media screen and (min-width: 700px) {
  nav .expand-menu-list {
    font-size: 1rem;
  }
}

#home {
  height: 100vh;
  margin: 0 3%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#home .home-left-section {
  text-align: left;
}
#home .home-left-section-heading {
  font-size: 1.8rem;
  margin-bottom: 10px;
  width: 70%;
}
#home .home-left-section-paragraph {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 20px;
  margin-bottom: 10px;
  width: 90%;
}
#home .home-left-section-btn {
  background-color: #458ff6;
  border: none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 0.5rem 1.2rem;
  transition: all 0.5s ease-in-out;
}
#home .home-left-section-btn:hover {
  opacity: 0.8;
}
#home .home-right-section {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
#home .home-right-section img {
  width: 60%;
}
@media screen and (min-width: 568px) {
  #home {
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #home .home-left-section {
    width: 60%;
  }
  #home .home-left-section-paragraph {
    width: 100%;
  }
  #home .home-right-section {
    margin-top: 0;
  }
}
@media screen and (min-width: 971px) {
  #home .home-left-section-paragraph {
    width: 60%;
  }
}

#services {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#services .services-line {
  background: #000;
  display: flex;
  height: 1.5px;
  width: 40px;
  margin: 10px auto;
}
#services .services-top-section-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}
#services .services-top-section-paragraph {
  font-size: 1rem;
  font-weight: 300;
}
#services .services-middle-section {
  text-align: left;
  padding: 20px;
}
#services .services-middle-section .service {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 5%;
  width: 100%;
}
#services .services-middle-section .service h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
#services .services-middle-section .service p {
  font-size: 0.9rem;
  font-weight: 300;
}
#services .services-middle-section img {
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  width: 60px;
}
#services .services-bottom-section-btn {
  background: white;
  border: 1px solid #458ff6;
  border-radius: 15px;
  color: #458ff6;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  transition: all 0.15s;
}
#services .services-bottom-section-btn:hover {
  background: #458ff6;
  color: #fff;
}
@media screen and (min-width: 568px) {
  #services .services-middle-section {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #services .services-middle-section .service {
    margin-top: 0;
    width: 48%;
  }
}
@media screen and (min-width: 971px) {
  #services .services-middle-section .service {
    width: 32%;
  }
}

@media screen and (min-width: 568px) {
  #services {
    width: 80%;
  }
}
@media screen and (min-width: 971px) {
  #services {
    width: 70%;
  }
}
#apps {
  margin: 0 3%;
  padding: 5%;
  transition: all 0.5s ease-in-out;
}
#apps div {
  margin-bottom: 1rem;
}
#apps div h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  width: 80%;
}
#apps div img {
  aspect-ratio: 1/1;
  display: none;
  width: 100%;
}
#apps div p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
#apps div button {
  background: white;
  border: 1px solid #458ff6;
  border-radius: 15px;
  color: #458ff6;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  transition: all 0.15s;
}
#apps div button:hover {
  background: #458ff6;
  color: #fff;
}
@media screen and (min-width: 568px) {
  #apps .providers,
#apps .apps {
    align-items: center;
    display: flex;
  }
  #apps .providers img,
#apps .apps img {
    display: flex;
  }
  #apps .providers h2,
#apps .apps h2 {
    font-size: 18px;
  }
  #apps .providers p,
#apps .apps p {
    width: 80%;
  }
  #apps .providers-right-section {
    margin-left: 100px;
  }
  #apps .apps-left-section {
    margin-right: 100px;
  }
}

#testimonials {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 10px;
  color: #fff;
  margin: 0 3%;
  text-align: center;
  padding-top: 70px;
}
#testimonials .line {
  background: #fff;
  display: flex;
  height: 2px;
  width: 50px;
  margin: 10px auto;
}
#testimonials .testimonial {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}
#testimonials .testimonial-left-section {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
#testimonials .testimonial-left-section div h4 {
  font-size: 1rem;
}
#testimonials .testimonial-left-section div p {
  font-weight: 300;
  font-size: 0.9rem;
}
#testimonials .testimonial img {
  border-radius: 100%;
  margin-right: 10px;
  outline: 5px solid white;
  width: 70px;
}
#testimonials .testimonial-right-section p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 568px) {
  #testimonials .testimonial {
    align-items: center;
    flex-direction: row;
    gap: 10%;
    margin: 10px auto;
    max-width: 1000px;
  }
  #testimonials .testimonial-left-section {
    width: 80%;
    margin: auto;
    padding-left: 10%;
  }
  #testimonials .testimonial-left-section div:nth-of-type(2) {
    text-align: left;
  }
  #testimonials .testimonial-right-section {
    margin: auto;
  }
  #testimonials .testimonial-right-section p {
    margin: auto;
    width: 70%;
  }
}

.articles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  padding-top: 20px;
  text-align: left;
}
.articles .article {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 270px;
  min-width: 260px;
  height: 370px;
  max-height: 400px;
  padding: 5%;
  width: 80%;
}
.articles .article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.articles .article h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.articles .article p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
}
.articles .article a {
  color: #4089ed;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (min-width: 568px) {
  .articles {
    gap: 20px;
    padding: 2%;
  }
  .articles .article {
    width: 33%;
  }
}

.articles-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-all-btn {
  background: white;
  border: 1px solid #458ff6;
  border-radius: 15px;
  color: #458ff6;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0.4rem 1.5rem;
  transition: all 0.15s;
}
.view-all-btn:hover {
  background: #458ff6;
  color: #fff;
}

#about {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  padding: 10% 5%;
}
#about p,
#about li {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
}
#about .list-title {
  font-weight: bold;
}
#about a {
  color: white;
  text-decoration: none;
}
#about a:hover {
  border-bottom: 1px solid white;
}
#about ul {
  list-style-type: none;
}
#about .description .logo {
  background: white;
  border-radius: 100%;
  color: #5b9bf3;
  padding: 0.2rem 0.4rem;
}
#about .lists {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 971px) {
  #about {
    flex-direction: row;
  }
  #about .lists {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */